{% load static %}
<meta charset="utf-8">
<html lang="en">
<head>
    <style>
        rect.bordered {
            stroke: #E6E6E6;
            stroke-width: 2px;
        }

        text.mono {
            font-size: 12pt;
            font-family: sans-serif;
            fill: #000;
        }

        text.axis-workweek {
            fill: #000;
        }

        text.axis-worktime {
            fill: #000;
        }
    </style>
    <script src="//d3js.org/d3.v3.js"></script>
</head>
<body>
<div class="menuBar" style="margin-top: 30px">
    <span style="font-size: 30px; font-family: sans-serif; margin-left: 600px">Classify business</span>
    <a href="business-analysis-3.html" style="margin-left: 100px; font-size: 16px">Previous</a>
    <a href="index.html" style="margin-left: 15px; font-size: 16px">Index</a>
</div>
<div id="chart"></div>
<script type="text/javascript">
  d3.csv("data/C2.3/keywords_period_heat.csv", function (error, data) {
    if (error) throw error;
    var margin = {top: 150, right: 0, bottom: 100, left: 125},
      width = 1300 - margin.left - margin.right,
      height = 630 - margin.top - margin.bottom,
      gridSize = Math.floor(width / 53),
      legendElementWidth = gridSize * 3,
      buckets = 9,
      colors = ["#ffffd9", "#edf8b1", "#c7e9b4", "#7fcdbb", "#41b6c4", "#1d91c0", "#225ea8", "#253494", "#081d58"],
      words = ["0day", "Android", "Blackberry", "Botnet", "DDOS",
        "Exploit", "IOS", "Linux", "Mac",
        "Malware", "RCS", "Symbian", "Windows", "Windows Phone"];

    var names = [];
    var dates = [];
    var count = 0;
    var month = 1;


    dates.push("2011/01");

    data.forEach(function (d) {
      if (count === 14) {
        var temp_string = d.date.toString();
        var month_string = temp_string.substring(temp_string.indexOf("/") + 1, temp_string.length)
        if (month_string === "01")
          dates.push(d.date);
        else if (month_string === "05" || month_string === "09")
          dates.push(month_string);
        else
          dates.push("");
        month += 1;
        count = 0;
      }
      d.date = month;
      if (names.indexOf(d.name) === -1)
        names.push(d.name);
      count = count + 1;
    });

    debugger;

    var svg = d3.select("#chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.selectAll(".nameLabel")
      .data(names)
      .enter().append("text")
      .text(function (d) {
        return d;
      })
      .attr("x", 0)
      .attr("y", function (d, i) {
        return i * gridSize;
      })
      .style("text-anchor", "end")
      .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
      .attr("class", function (d, i) {
        return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis");
      });

    svg.selectAll(".dateLabel")
      .data(dates)
      .enter().append("text")
      .text(function (d) {
        return d;
      })
      .attr("x", function (d, i) {
        return i * gridSize;
      })
      .attr("y", 0)
      .style("text-anchor", "middle")
      .attr("transform", "translate(" + gridSize / 2 + ", -6)")
      .attr("class", function (d, i) {
        return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis");
      });

    var colorScale = d3.scale.quantile()
      .domain([1000, buckets - 1, d3.max(data, function (d) {
        return parseInt(d.value);
      })])
      .range(colors);

    var cards = svg.selectAll(".cards")
      .data(data);

    cards.append("title");

    cards.enter().append("rect")
      .attr("x", function (d) {
        return (d.date - 1) * gridSize;
      })
      .attr("y", function (d) {
        return (words.indexOf(d.name)) * gridSize;
      })
      .attr("rx", 4)
      .attr("ry", 4)
      .attr("class", "date bordered")
      .attr("width", gridSize)
      .attr("height", gridSize)
      .style("fill", colors[0]);

    cards.transition().duration(1000)
      .style("fill", function (d) {
        return colorScale(d.value);
      });

    cards.select("title").text(function (d) {
      return d.value;
    });

    cards.exit().remove();

    debugger;
    var legend = svg.selectAll(".legend")
      .data([0].concat(colorScale.quantiles()), function (d) {
        return d;
      });

    legend.enter().append("g")
      .attr("class", "legend");

    legend.append("rect")
      .attr("x", function (d, i) {
        return legendElementWidth * i + 50;
      })
      .attr("y", height)
      .attr("width", legendElementWidth)
      .attr("height", gridSize / 2)
      .style("fill", function (d, i) {
        return colors[i];
      });

    legend.append("text")
      .attr("class", "mono")
      .text(function (d) {
        return "≥ " + Math.round(d);
      })
      .attr("x", function (d, i) {
        return legendElementWidth * i + 50;
      })
      .attr("y", height + gridSize + 10);

    legend.exit().remove();

  });

</script>
</body>
</html>