{% extends 'display/base.html' %}
{% load static %}
{% block title %} Email Analysis {% endblock title %}

{% block style %}
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
<link rel="stylesheet" type="text/css" href="{% static 'lib/sequences.css' %}"/>
{% endblock style %}

{% block pageButton %}
<div class="change-btn" style="float:right; margin-right: 2%">
    <button onclick="location.href='email-analysis.html'" class="btn" type="button" title="Email Analysis">
        Previous
    </button>

    <button onclick="location.href='business-analysis.html'" class="btn" type="button" title="Business Analysis">
        Next
    </button>
</div>
{% endblock pageButton %}

{% block main %}
<div id="main">
    <div id="sequence" style="margin-top: 2%; margin-left: 15%"></div>
    <div id="chart" >
        <div id="explanation" style="visibility: hidden">
            <span id="percentage"></span>
            <br/>
            <span id="category"></span>
        </div>
    </div>
</div>
<div id="sidebar" style="margin-right:30%">
    <input type="checkbox" id="togglelegend" style="margin-top: 100px"> Legend<br/>
    <div id="legend" style="visibility: hidden;"></div>
</div>
<script type="text/javascript" src="{% static 'lib/sequences.js' %}"></script>
<script type="text/javascript">
  // Hack to make this example display correctly in an iframe on bl.ocks.org
  d3.select(self.frameElement).style("width", "100%");
</script>

{% endblock main %}